root = true

[*.cs]
file_header_template = SPDX-License-Identifier: LGPL-3.0-or-later

# Temporary Suppressions, remove this file when all cleared

# Count: 2 - KeyboardShortcut should override the equality
dotnet_diagnostic.CA1815.severity = none
# Count: 2 - Test for empty strings using 'string.Length' property or 'string.IsNullOrEmpty' method instead of an Equality check
dotnet_diagnostic.CA1820.severity = none
# Count: 2 - Prefer a 'TryGetValue' call over a Dictionary indexer access guarded by a 'ContainsKey' check to avoid double lookup
dotnet_diagnostic.CA1854.severity = none
# Count: 2 - Change return type of method 'CreateBepInExSettingEntry' from 'ConfigurationManager.SettingEntryBase' to 'ConfigurationManager.BepInExSettingEntry?' for improved performance
dotnet_diagnostic.CA1859.severity = none
# Count: 2 - Exception type System.Exception is not sufficiently specific
dotnet_diagnostic.CA2201.severity = none
# Count: 2 - Implement the equality operators and make their behavior identical to that of the Equals method
dotnet_diagnostic.CA2231.severity = none
# Count: 2 - Cast is redundant.
dotnet_diagnostic.IDE0004.severity = none
# Count: 2 - Use pattern matching
dotnet_diagnostic.IDE0019.severity = none
# Count: 2 - Lambda expression can be removed
dotnet_diagnostic.IDE0200.severity = none
# Count: 2 - Struct can be made 'readonly'
dotnet_diagnostic.IDE0250.severity = none
# Count: 2 - Merge 'else' with nested 'if'
dotnet_diagnostic.RCS1006.severity = none
# Count: 2 - Use compound assignment
dotnet_diagnostic.RCS1058.severity = none
# Count: 2 - Merge 'if' with nested 'if'
dotnet_diagnostic.RCS1061.severity = none
# Count: 2 - Use auto-implemented property
dotnet_diagnostic.RCS1085.severity = none
# Count: 2 - Declare 'ConfigurationManagerAttributes' inside namespace
dotnet_diagnostic.RCS1110.severity = none
# Count: 2 - Use string.Length instead of comparison with empty string
dotnet_diagnostic.RCS1156.severity = none
# Count: 2 - Convert comment to documentation comment
dotnet_diagnostic.RCS1181.severity = none
# Count: 2 - Use pattern matching instead of combination of 'as' operator and null check
dotnet_diagnostic.RCS1221.severity = none
# Count: 2 - Add paragraph to documentation comment
dotnet_diagnostic.RCS1226.severity = none
# Count: 2 - Avoid nested ?: operators
dotnet_diagnostic.RCS1238.severity = none
