root = true

[*.cs]
file_header_template = SPDX-License-Identifier: LGPL-3.0-or-later

# Temporary Suppressions, remove this file when all cleared

# Count: 2 - The behavior of 'string.ToUpper()' could vary based on the current user's locale settings. Replace this call in 'string.ToProperCase()' with a call to 'string.ToUpper(CultureInfo)'.
dotnet_diagnostic.CA1304.severity = none
# Count: 2 - Specify a culture or use an invariant version to avoid implicit dependency on current culture
dotnet_diagnostic.CA1311.severity = none
# Count: 2 - 'settingEntry != null' is always 'true'. Remove or refactor the condition(s) to avoid dead code.
dotnet_diagnostic.CA1508.severity = none
# Count: 2 - Rename virtual/interface member SettingEntryBase.Get() so that it no longer conflicts with the reserved language keyword 'Get'. Using a reserved keyword as the name of a virtual/interface member makes it harder for consumers in other languages to override/implement the member.
dotnet_diagnostic.CA1716.severity = none
# Count: 2 - The type name ConfigurationManager conflicts in whole or in part with the namespace name 'ConfigurationManager'. Change either name to eliminate the conflict.
dotnet_diagnostic.CA1724.severity = none
# Count: 2 - Member 'Empty' is explicitly initialized to its default value
dotnet_diagnostic.CA1805.severity = none
# Count: 2 - KeyboardShortcut should override the equality
dotnet_diagnostic.CA1815.severity = none
# Count: 2 - Test for empty strings using 'string.Length' property or 'string.IsNullOrEmpty' method instead of an Equality check
dotnet_diagnostic.CA1820.severity = none
# Count: 2 - Prefer a 'TryGetValue' call over a Dictionary indexer access guarded by a 'ContainsKey' check to avoid double lookup
dotnet_diagnostic.CA1854.severity = none
# Count: 2 - Change return type of method 'CreateBepInExSettingEntry' from 'ConfigurationManager.SettingEntryBase' to 'ConfigurationManager.BepInExSettingEntry?' for improved performance
dotnet_diagnostic.CA1859.severity = none
# Count: 2 - Exception type System.Exception is not sufficiently specific
dotnet_diagnostic.CA2201.severity = none
# Count: 2 - Implement the equality operators and make their behavior identical to that of the Equals method
dotnet_diagnostic.CA2231.severity = none
# Count: 2 - Cast is redundant.
dotnet_diagnostic.IDE0004.severity = none
# Count: 2 - Use pattern matching
dotnet_diagnostic.IDE0019.severity = none
# Count: 2 - Lambda expression can be removed
dotnet_diagnostic.IDE0200.severity = none
# Count: 2 - Struct can be made 'readonly'
dotnet_diagnostic.IDE0250.severity = none
# Count: 2 - Merge 'else' with nested 'if'
dotnet_diagnostic.RCS1006.severity = none
# Count: 2 - Use compound assignment
dotnet_diagnostic.RCS1058.severity = none
# Count: 2 - Merge 'if' with nested 'if'
dotnet_diagnostic.RCS1061.severity = none
# Count: 2 - Use auto-implemented property
dotnet_diagnostic.RCS1085.severity = none
# Count: 2 - Declare 'ConfigurationManagerAttributes' inside namespace
dotnet_diagnostic.RCS1110.severity = none
# Count: 2 - Use string.Length instead of comparison with empty string
dotnet_diagnostic.RCS1156.severity = none
# Count: 2 - Convert comment to documentation comment
dotnet_diagnostic.RCS1181.severity = none
# Count: 2 - Use pattern matching instead of combination of 'as' operator and null check
dotnet_diagnostic.RCS1221.severity = none
# Count: 2 - Add paragraph to documentation comment
dotnet_diagnostic.RCS1226.severity = none
# Count: 2 - Avoid nested ?: operators
dotnet_diagnostic.RCS1238.severity = none
